<a href="https://colab.research.google.com/github/DanielRaiicHu/python-para-datascience-primeros-pasos/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
print("hola mi mundo")

hola mi mundo

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
char1 = "Daniel"
var1 = 35
print(char1,var1)

Daniel 35

In [ ]:
char2 = "Daniel"
var2 = 35
print(f"Mi nombre es {char2} y tengo {var2} años de edad")

Mi nombre es Daniel y tengo 35 años de edad

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
dd = 8
mm = "noviembre"
aaaa = 1989
print(dd,mm,aaaa)

8 noviembre 1989

In [ ]:
print(f"Mi nombre es {char1}, tengo {var1} años de edad y nací el {dd} de {mm} de {aaaa}.")

Mi nombre es Daniel, tengo 35 años de edad y nací el 8 de noviembre de 1989.

In [ ]:
type(dd)

int

In [ ]:
type(mm)

str

In [ ]:
type(aaaa)

int

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_alumno = "Penélope Camacho"
edad_alumno = 11
media_alumno = 9.75
aprobacion = True

print(f"El nombre del alumno es {nombre_alumno}, tiene {edad_alumno} años y su media es {media_alumno}.")

El nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.75.

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
frase = "Hola gente de Alura Latam"
print(frase)

Hola gente de Alura Latam

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase)

Ingrese una frase: hola mundo
hola mundo

str

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase.upper())

Ingrese una frase: hola mundo
HOLA MUNDO

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase.lower())

Ingrese una frase: Hola Mundo
hola mundo

In [ ]:
frase = " Hola gente de Alura Latam     "
print(frase.strip())

Hola gente de Alura Latam

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase.strip())

Ingrese una frase:       Hola Mundo de Alura Latam
Hola Mundo de Alura Latam

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase.strip().lower())

Ingrese una frase:      HoLA MunDO
hola mundo

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase.replace("e","f"))

Ingrese una frase: ene tene tu
fnf tfnf tu

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase.replace("a","@"))

Ingrese una frase: La alumna matea
L@ @lumn@ m@te@

In [ ]:
frase = str(input("Ingrese una frase: "))
print(frase.replace("s","$"))

Ingrese una frase: sapo sapito
$apo $apito

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("Escribe tu nombre: ")
print("Hola %s" %nombre)

Escribe tu nombre: Daniel
Hola Daniel

In [ ]:
nombre_usuario = str(input("Escribe tu nombre: "))
edad_usuario = int(input("Digita tu edad: "))
print(f"Hola {nombre_usuario.capitalize()}, tienes {edad_usuario} años.")

Escribe tu nombre: daniel
Digita tu edad: 35
Hola Daniel, tienes 35 años.

In [ ]:
nombre_usuario = str(input("Ingresa tu nombre: "))
edad_usuario = int(input("Ingresa tu edad: "))
altura_usuario = float(input("Ingresa tu altura: "))
print("Hola {}, tienes {} años y mides {} mts." .format(nombre_usuario.capitalize(),
edad_usuario, altura_usuario))

Ingresa tu nombre: daniel
Ingresa tu edad: 35
Ingresa tu altura: 1.65
Hola Daniel, tienes 35 años y mides 1.65 mts.

In [ ]:
valor1 = int(input("Ingrese primer valor: "))
valor2 = int(input("Ingrese segundo valor: "))
resultado = valor1 + valor2
print(f"El resultado de {valor1} + {valor2} es {resultado}")

Ingrese primer valor: 12
Ingrese segundo valor: 10
El resultado de 12 + 10 es 22

In [ ]:
valor1 = int(input("Ingrese primer valor: "))
valor2 = int(input("Ingrese segundo valor: "))
valor3 = int(input("Ingrese tercer valor: "))
resultado = valor1 + valor2 + valor3
print(f"El resultado de {valor1} + {valor2} + {valor3} es {resultado}")

Ingrese primer valor: 2
Ingrese segundo valor: 4
Ingrese tercer valor: 8
El resultado de 2 + 4 + 8 es 14

In [ ]:
valor1 = int(input("Ingrese primer valor: "))
valor2 = int(input("Ingrese segundo valor: "))
resultado = valor1 - valor2
print(f"El resultado de {valor1} - {valor2} es {resultado}")

Ingrese primer valor: 10
Ingrese segundo valor: 8
El resultado de 10 - 8 es 2

In [ ]:
valor1 = int(input("Ingrese primer valor: "))
valor2 = int(input("Ingrese segundo valor: "))
resultado = valor1 * valor2
print(f"El resultado de {valor1} x {valor2} es {resultado}")

Ingrese primer valor: 10
Ingrese segundo valor: 4
El resultado de 10 x 4 es 40

In [ ]:
numerador = int(input("Ingresa el numerador: "))
denominador = int(input("Ingresa el denominador: "))

if denominador != 0:
    resultado = float(numerador / denominador)
    print(f"El resultado de la división entre {numerador} y {denominador} es: {resultado}")
else:
    print("Error: el denominador no puede ser cero.")

Ingresa el numerador: 4
Ingresa el denominador: 2
El resultado de la división entre 4 y 2 es: 2.0

In [ ]:
operador = int(input("Ingrese el operador: "))
potencia = int(input("Ingrese la potencia: "))
resultado_potencia = operador ** potencia
print(f"El resultado de {operador} elevado a {potencia} es {resultado_potencia}")

Ingrese el operador: 8
Ingrese la potencia: 3
El resultado de 8 elevado a 3 es 512

In [ ]:
numerador = int(input("Ingresa el numerador: "))
denominador = int(input("Ingresa el denominador: "))

if denominador != 0:
    resultado = numerador // denominador
    print(f"El resultado ENTERO de la división entre {numerador} y {denominador} es: {resultado}")
else:
    print("Error: el denominador no puede ser cero.")

Ingresa el numerador: 7
Ingresa el denominador: 2
El resultado ENTERO de la división entre 7 y 2 es: 3

In [ ]:
numerador = int(input("Ingresa el numerador: "))
denominador = int(input("Ingresa el denominador: "))

if denominador != 0:
    resultado = numerador % denominador
    print(f"El RESTO de la división entre {numerador} y {denominador} es: {resultado}")
else:
    print("Error: el denominador no puede ser cero.")

Ingresa el numerador: 7
Ingresa el denominador: 2
El RESTO de la división entre 7 y 2 es: 1

In [ ]:
nota_1 = float(input("Ingrese primera nota: "))
nota_2 = float(input("Ingrese segunda nota: "))
nota_3 = float(input("Ingrese tercera nota: "))
promedio_alumno = float((nota_1 + nota_2 + nota_3)/3)
print("El promedio del alumno es: %.1f"%(promedio_alumno))

Ingrese primera nota: 7.0
Ingrese segunda nota: 6.9
Ingrese tercera nota: 5.5
El promedio del alumno es: 6.5

In [ ]:
#Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.
promedio_ponderado  = ((5*1 + 12*2 + 20*3 + 15*4)/(1 + 2 + 3 + 4))
print("El promedio ponderado es %.2f"%(promedio_ponderado))

El promedio ponderado es 14.90

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input("Digita el año de Admisión: "))

Digita el año de Admisión: 2006

In [ ]:
type(ano_admision)

int

In [ ]:
nota_admision = float(input("Digite su nota de Admisión: "))

Digite su nota de Admisión: 7.0

In [ ]:
type(nota_admision)

float

In [ ]:
print(f"El año de admisión fue: {ano_admision} \nLa nota de admisión fue: {nota_admision}")

El año de admisión fue: 2006
La nota de admisión fue: 7.0

In [ ]:
nombre_alumno = "Penélope Camacho"
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = "Penélope Camacho"
apodo_alumno = "La Cacho"
edad_alumno = 11
media_alumno = 9.95
print ("Nombre del alumno: %s, le dicen \"%s\", tiene %d años y su media es %.2f." %(nombre_alumno, apodo_alumno, edad_alumno, media_alumno))

Nombre del alumno: Penélope Camacho, le dicen "La Cacho", tiene 11 años y su media es 9.95.

In [ ]:
x = True
print("Valor de x: %s" %str(x))
type(x)

Valor de x: True

bool

In [ ]:
nombre_alumno2 = 'Fabricio Daniel'
edad_alumno2 = 15
media_alumno2 = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno2, edad_alumno2, media_alumno2))
type(media_alumno2)

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

# Estructuras condicionales

In [ ]:
#nota de aprobación entre 7 y 10 == nota de aprobación >= 7
#nota de reprobación es menor a 7 == nota de reprobación < 7
"""
Si la nota es mayor o igual a 7 el estudiante aprueba
Si no el estudiante reprueba
"""
nota_alumno = float(input("Ingrese la nota del alumno: "))
#primera condición
if nota_alumno >= 7 and nota_alumno <= 10:
  print(f"El estudiante tiene nota {nota_alumno}, por lo tanto está APROBADO")
#segunda condición si es que la anterior no se cumple
elif nota_alumno >=1 and nota_alumno < 7:
  print(f"El estudiante tiene nota {nota_alumno}, por lo tanto está REPROBADO")
#si no se cumple ninguna condición
else:
  print("Debe ingresar un valor dentro del rango (1 - 10)")
print("Fin de la consulta") #mensaje al finalizar, independiente el número ingresado

Ingrese la nota del alumno: 7
El estudiante tiene nota 7.0, por lo tanto está APROBADO
Fin de la consulta

In [ ]:
nota = float(input("Ingrese la nota: "))
if nota >= 7:
  print("Estudiante aprobó")
if 7 > nota >= 5:
  print("Estudiante va a recuperación")
if nota < 5:
  print("Estudiante reprobó")

Ingrese la nota: 7
Estudiante aprobó

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
#nota de aprobación entre 7 y 10 == nota de aprobación >= 7
#nota de reprobación es menor a 7 == nota de reprobación < 7
"""
Si la nota es mayor o igual a 7 el estudiante aprueba
Si no el estudiante reprueba
"""
nota_alumno = float(input("Ingrese la nota del alumno: "))
#primera condición
if nota_alumno >= 7 and nota_alumno <= 10:
  print(f"El estudiante tiene nota {nota_alumno}, por lo tanto está APROBADO")
#segunda condición si es que la anterior no se cumple
elif nota_alumno >=1 and nota_alumno < 7:
  print(f"El estudiante tiene nota {nota_alumno}, por lo tanto está REPROBADO")
#si no se cumple ninguna condición
else:
  print("Debe ingresar un valor dentro del rango (1 - 10)")
print("Fin de la consulta") #mensaje al finalizar, independiente el número ingresado

Ingrese la nota del alumno: 5
El estudiante tiene nota 5.0, por lo tanto está REPROBADO
Fin de la consulta

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input("Ingrese la nota: "))
if nota >= 7:
  print("Estudiante aprobó")
if 7 > nota >= 5:
  print("Estudiante va a recuperación")
if nota < 5:
  print("Estudiante reprobó")

Ingrese la nota: 8
Estudiante aprobó

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input("Ingrese la nota: "))
if nota >= 7:
  print("Estudiante aprobó")
elif 7 > nota >= 5:
  print("Estudiante va a recuperación")
else:
  print("Estudiante reprobó")

Ingrese la nota: 2
Estudiante reprobó

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if f and v:
  print("La condición es verdadera")
else:
  print("La condición es falsa")

La condición es falsa

In [ ]:
if v or v:
  print("La condición es verdadera")
else:
  print("La condición es falsa")

La condición es verdadera

In [ ]:
if not f:
  print("La condición es verdadera")
else:
  print("La condición es falsa")

La condición es verdadera

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = ['Juan Pérez', 'María González', 'Pedro Rodríguez', 'Ana López', 'Carlos Martínez',
    'Laura Sánchez', 'José García', 'Elena Fernández', 'Luis Morales', 'Carmen Torres',
    'David Ruiz', 'Isabel Ramírez', 'Javier Díaz', 'Sara Herrera', 'Miguel Castro',
    'Patricia Ortega', 'Francisco Vargas', 'Marta Jiménez', 'Manuel Medina', 'Rosa Molina',
    'Alejandro Silva', 'Silvia Ruiz', 'Andrés Torres', 'Natalia Soto', 'Diego Guerrero',
    'Paula Ríos', 'Ricardo Navarro', 'Alicia Cordero', 'Carlos Vidal', 'Lorena Gómez']

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print("El estudiante aprobó")
else:
  print("El estudiante reprobó")

El estudiante aprobó

In [ ]:
if nombre_2 in lista:
  print("El estudiante aprobó")
else:
  print("El estudiante reprobó")

El estudiante reprobó

# ***12 Desafio: ¡Es hora de practicar!***

1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

In [ ]:
primer_numero = int(input("Ingresa un número: "))
segundo_numero = int(input("Ingrese un número: "))
if primer_numero > segundo_numero:
  print(f"El número mayor es: {primer_numero}")
else:
  print(f"El número mayor es: {segundo_numero}")

Ingresa un número: 3
Ingrese un número: 4
El número mayor es: 4

In [ ]:
primer_numero = int(input("Ingresa un número: "))
segundo_numero = int(input("Ingrese un número: "))
mayor = max(primer_numero, segundo_numero)
print(f"El número mayor es {mayor}")

2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

In [ ]:
porcentaje_anterior = float(input("Ingrese el porcentaje de producción del mes anterior: "))
porcentaje_nuevo = float(input("Ingrese el porcentaje de crecimiento de producción: "))
porcentaje_actual = float(porcentaje_anterior + porcentaje_nuevo)

if porcentaje_nuevo > 0:
    print(f"Hubo un crecimiento del {porcentaje_nuevo}% en la producción.")
elif porcentaje_nuevo < 0:
    print(f"Hubo una disminución del {abs(porcentaje_nuevo)}% en la producción.") #el abs es para que el número se vea positivo si es que se ingresa un valor negativo
else:
    print("No hubo variación en la producción.")
print(f"Porcentaje de crecimiento actual: {porcentaje_actual}%")

Ingrese el porcentaje de producción del mes anterior: 14
Ingrese el porcentaje de crecimiento de producción: 12
Hubo un crecimiento del 12.0% en la producción.
Porcentaje de crecimiento actual: 26.0%

In [ ]:
# Recolectamos el porcentaje
variacion = float(input("Ingrese el porcentaje de crecimiento: "))
# Verificamos si el valor es positivo o negativo con una comparación para ver si el número
# es mayor o menor que 0
if variacion > 0:
    print(f"Hubo un crecimiento del {variacion}%")
elif variacion < 0:
    print(f"Hubo un decrecimiento del {variacion}%")
else:
    print("No hubo crecimiento ni decrecimiento.")

Ingrese el porcentaje de crecimiento: 13
Hubo un crecimiento del 13.0%

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

In [ ]:
lista_consonantes = ["Q","W","R","T","Y","P","S","D","F","G","H","J","K","L","Z","X","C","V","B","N","M","Ñ"]
lista_vocales = ["A","E","I","O","U"]
letra = input("Inserte una letra: ")

if letra.upper() in lista_consonantes:
  print(f"La letra \"{letra}\" es una consonante")
elif letra.upper() in lista_vocales:
  print(f"La letra \"{letra}\" es una vocal")
else:
  print("La información proporcionada no corresponde a vocales ni consonantes")

Inserte una letra: r
La letra "r" es una consonante

In [ ]:
lista_consonantes = ["Q","W","R","T","Y","P","S","D","F","G","H","J","K","L","Z","X","C","V","B","N","M","Ñ"]
lista_vocales = ["A","E","I","O","U"]
letra = input("Inserte una letra: ")

# Validar que solo sea una letra y que esté en las listas
if len(letra) == 1 and letra.upper().isalpha():
  if letra.upper() in lista_consonantes:
    print(f"La letra \"{letra}\" es una consonante")
  elif letra.upper() in lista_vocales:
    print(f"La letra \"{letra}\" es una vocal")
  else:
    print("El dato entregado no es válido")
else:
  print("Error: Al ingresar la letra")

Inserte una letra: a
La letra "a" es una vocal

4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

In [ ]:
auto_ano_1 = int(input("Ingrese valor de automóvil del primer año: "))
auto_ano_2 = int(input("Ingrese valor de automóvil del segundo año: "))
auto_ano_3 = int(input("Ingrese valor de automóvil del tercer año: "))
if auto_ano_1 >= auto_ano_2 and auto_ano_1 >= auto_ano_3:
  mayor = auto_ano_1
elif auto_ano_2 >= auto_ano_1 and auto_ano_2 >= auto_ano_3:
  mayor = auto_ano_2
else:
  mayor = auto_ano_3

if auto_ano_1 <= auto_ano_2 and auto_ano_1 <= auto_ano_3:
  menor = auto_ano_1
elif auto_ano_2 <= auto_ano_1 and auto_ano_2 <= auto_ano_3:
  menor = auto_ano_2
else:
  menor = auto_ano_3

print(f"El valor mayor es de: ${mayor:,}".replace(",", "."))
print(f"El valor menor es de: ${menor:,}".replace(",", "."))

Ingrese valor de automóvil del primer año: 5000000
Ingrese valor de automóvil del segundo año: 4000000
Ingrese valor de automóvil del tercer año: 10000000
El valor mayor es de: $10.000.000
El valor menor es de: $4.000.000

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

In [ ]:
producto_1 = int(input("Ingrese el precio del primer producto: "))
producto_2 = int(input("Ingrese el precio del segundo producto: "))
producto_3 = int(input("Ingrese el precio del tercer producto: "))
producto = str("")

if producto_1 <= producto_2 and producto_1 <= producto_3:
  producto_menor = producto_1
  producto = "Producto 1"
elif producto_2 <= producto_1 and producto_2 <= producto_3:
  producto_menor = producto_2
  producto = "Producto 2"
else:
  producto_menor = producto_3
  producto = "Producto 3"
print(f"El {producto} es el de menor valor y cuesta: ${producto_menor:,}".replace(",", "."))

Ingrese el precio del primer producto: 1200
Ingrese el precio del segundo producto: 1500
Ingrese el precio del tercer producto: 700
El Producto 3 es el de menor valor y cuesta: $700

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

In [ ]:
valor_1 = int(input("Ingrese primer valor:"))
valor_2 = int(input("Ingrese segundo valor:"))
valor_3 = int(input("Ingrese tercer valor:"))
if valor_1 >= valor_2 and valor_1 >= valor_3:
  if valor_2 >= valor_3:
    print(f"Los valores ordenados de manera descendente son: [{valor_1}] > [{valor_2}] > [{valor_3}]")
  else:
    print(f"Los valores ordenados de manera descendente son: [{valor_1}] > [{valor_3}] > [{valor_2}]")
elif valor_2 >= valor_1 and valor_2 >= valor_3:
    if valor_1 >= valor_3:
      print(f"Los valores ordenados de manera descendente son: [{valor_2}] > [{valor_1}] > [{valor_3}]")
    else:
      print(f"Los valores ordenados de manera descendente son: [{valor_2}] > [{valor_3}] > [{valor_1}]")
else:
  if valor_1 >= valor_2:
    print(f"Los valores ordenados de manera descendente son: [{valor_3}] > [{valor_1}] > [{valor_2}]")
  else:
    print(f"Los valores ordenados de manera descendente son: [{valor_3}] > [{valor_2}] > [{valor_1}]")

Ingrese primer valor:12
Ingrese segundo valor:5
Ingrese tercer valor:18
Los valores ordenados de manera descendente son: [18] > [12] > [5]

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

In [ ]:
nombre_persona = str(input("Ingrese su nombre: ").capitalize())
turno_persona = str(input("Ingrese su turno: ").lower())
if turno_persona == "mañana":
  print(f"Buenos días {nombre_persona}")
elif turno_persona == "tarde":
  print(f"Buenas tardes {nombre_persona}")
elif turno_persona == "noche":
  print(f"Buenas noches {nombre_persona}")
else:
  print("Error: Al ingresar datos.")

Ingrese su nombre: daniel
Ingrese su turno: tarde
Buenas tardes Daniel

8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

In [ ]:
numero = int(input("Ingrese un número entero: "))
if numero % 2 == 0:
  print(f"El número {numero} es par.")
else:
  print(f"El número {numero} es impar.")

In [ ]:
try:
    numero = int(input("Ingrese un número entero: "))

    if numero % 2 == 0:
        print(f"El número {numero} es par.")
    else:
        print(f"El número {numero} es impar.")

except ValueError:
    print("Error: No se ingresó un número entero válido.")

Ingrese un número entero: 457
El número 457 es impar.

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

In [ ]:
numero = float(input("Ingrese un número: "))
if numero == int(numero):
  print("El número %d es entero."%(numero))
else:
  print("El número {} es decimal.".format(numero))

Ingrese un número: 22
El número 22 es entero.

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

In [ ]:
numero = float(input("Ingrese un número: "))
print("Su número es [{}]\n¿Qué operación desea realizar con este número?: \n1.- Saber si es par o impar.\n2.- Saber si es positivo o negativo.\n3.- Saber si es entero o decimal".format(numero))
opcion = int(input("Ingrese una opción: "))
#1. par o impar
if opcion == 1:
  if numero % 2 == 0: #par
      if numero == int(numero):
        print("El número %d es par."%(numero)) #si el número es entero, formato de entero %d
      else:
        print("El número {} es par.".format(numero)) #si el número es decimal, formato de decimal
  else: #impar
      if numero == int(numero):
        print("El número %d es impar."%(numero)) #si el número es entero, formato de entero %d
      else:
        print("El número {} es impar.".format(numero)) #si el número es decimal, formato de decimal

#2. positivo o negativo
if opcion == 2:
  if numero > 0: #positivo
    if numero == int(numero):
      print("El número %d es positivo."%(numero)) #si el número es entero, formato de entero %d
    else:
      print("El número {} es positivo.".format(numero)) #si el número es decimal, formato de decimal
  elif numero < 0: #negativo
    if numero == int(numero):
      print("El número %d es negativo."%(numero)) #si el número es entero, formato de entero %d
    else:
      print("El número {} es negativo.".format(numero)) #si el número es decimal, formato de decimal
  else:
    print("El número es 0.")

#3. entero o decimal
if opcion == 3:
  if numero == int(numero):
    print("El número %d es entero."%(numero))
  else:
    print("El número {} es decimal.".format(numero))

Ingrese un número: 2.3
Su número es [2.3]
¿Qué operación desea realizar con este número?:
1.- Saber si es par o impar.
2.- Saber si es positivo o negativo.
3.- Saber si es entero o decimal
Ingrese una opción: 3
El número 2.3 es decimal.

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

* Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;
* Triángulo Equilátero: tres lados iguales;
* Triángulo Isósceles: dos lados iguales;
* Triángulo Escaleno: tres lados diferentes.

In [ ]:
#triángulos
lado_1 = int(input("Ingrese lado del triángulo: "))
lado_2 = int(input("Ingrese lado del triángulo: "))
lado_3 = int(input("Ingrese lado del triángulo: "))
if lado_1 == lado_2 == lado_3: #todos los lados iguales: equilátero
  print("Triángulo Equilátero")
elif lado_1 == lado_2 or lado_2 == lado_3 or lado_1 == lado_3: #2 lados iguales: isósceles
  print("Triángulo Isósceles")
else: #todos los lados distintos: escaleno
  print("Triángulo Escaleno")

Ingrese lado del triángulo: 12
Ingrese lado del triángulo: 14
Ingrese lado del triángulo: 12
Triángulo Isósceles

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de `R$ 2,00`  y el precio por litro de etanol es de `R$ 1,70`. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

* El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
* El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

In [ ]:
#Mi solución:
precio_etanol_lt  = float(1.7)
precio_diesel_lt = float(2.0)
tipo_combustible = (input("---COMBUSTIBLE---\nPresione [E]: ETANOL\nPresione [D]: DIESEL\nSeleccione el tipo de combustible: ")).upper()
cantidad_lt = float(input("Ingrese la cantidad de combustible que desea llevar: "))

if tipo_combustible == "E":
  if cantidad_lt <= 15 and cantidad_lt > 0:
    subtotal = (precio_etanol_lt * cantidad_lt)
    precio_dcto = subtotal* 0.02
    precio_final = ((precio_etanol_lt * cantidad_lt) - precio_dcto)

  elif cantidad_lt > 15:
    subtotal = (precio_etanol_lt * cantidad_lt)
    precio_dcto = subtotal * 0.04
    precio_final = ((precio_etanol_lt * cantidad_lt) - precio_dcto)

  else:
    print("Error: Debe ingresar un valor mayor a 0.")

elif tipo_combustible == "D":
  if cantidad_lt <= 15 and cantidad_lt > 0:
    subtotal = (precio_diesel_lt * cantidad_lt)
    precio_dcto = subtotal * 0.03
    precio_final = ((precio_diesel_lt * cantidad_lt) - precio_dcto)

  elif cantidad_lt > 15:
    subtotal = (precio_diesel_lt * cantidad_lt)
    precio_dcto = subtotal * 0.05
    precio_final = ((precio_diesel_lt * cantidad_lt) - precio_dcto)

  else:
    print("Error: Debe ingresar un valor mayor a 0.")

else:
  subtotal = precio_dcto = precio_final = 0
  print("Error al ingresar el tipo de combustible")

print("Subtotal   : %.2f R$"%(subtotal))
print("Descuento  : %.2f R$"%(precio_dcto))
print("Total      : %.2f R$"%(precio_final))

---COMBUSTIBLE---
Presione [E]: ETANOL
Presione [D]: DIESEL
Seleccione el tipo de combustible: e
Ingrese la cantidad de combustible que desea llevar: 22
Subtotal   : 37.40 R$
Descuento  : 1.50 R$
Total      : 35.90 R$

In [ ]:
# Recolectamos la cantidad de litros y el tipo de combustible,
# convirtiendo el carácter en mayúsculas para facilitar nuestro análisis
cantidad_litros = float(input('Ingrese la cantidad de litros vendidos: '))
tipo_combustible = input('Ingrese el tipo de combustible (E para etanol y D para diésel): ').upper()

# Verificamos primero el tipo de combustible
if tipo_combustible == 'E':
  # Establecemos el precio por litro de etanol
  precio_litro = 1.70
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.02
  else:
    descuento = 0.04
elif tipo_combustible == 'D':
  # Establecemos el precio por litro de diésel
  precio_litro = 2.00
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.03
  else:
    descuento = 0.05
# En caso de error en la especificación del tipo de combustible,
# consideramos las entradas como no válidas y establecemos los precios y descuentos en 0
else:
    print('Entradas no válidas!')
    precio_litro = 0
    descuento = 0

# Calculamos el valor del descuento, seguido del cálculo del precio descontado
valor_descuento = precio_litro * cantidad_litros * descuento
valor_pagado = precio_litro * cantidad_litros - valor_descuento

# Resultado
print(f'Valor a pagar por el cliente: R$ {valor_pagado}')

Ingrese la cantidad de litros vendidos: 18
Ingrese el tipo de combustible (E para etanol y D para diésel): D
Valor a pagar por el cliente: R$ 34.2

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

* Para una variación superior al 20%: bonificación para el equipo de ventas.
* Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
* Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
* Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
# Recolectamos las ventas de los dos años
venta_2022 = float(input("Ingrese la cantidad de ventas en 2022: "))
venta_2023 = float(input("Ingrese la cantidad de ventas en 2023: "))

# Se calcula la variación porcentual entre las ventas de los años 2022 y 2023
var_porcentual = 100 * (venta_2023 - venta_2022) / (venta_2022)

# Análisis condicional de la variación porcentual para determinar la sugerencia a enviar
if var_porcentual > 20:
    print("Bonificación para el equipo de ventas.")
elif 2 <= var_porcentual <= 20:
    print("Pequeña bonificación para el equipo de ventas.")
elif -10 <= var_porcentual < 2:
    print("Planificación de políticas de incentivo a las ventas.")
else:
    print("Recorte de gastos.")

Ingrese la cantidad de ventas en 2022: 14000000
Ingrese la cantidad de ventas en 2023: 16000000
Pequeña bonificación para el equipo de ventas.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input("Digite la primera nota: "))
nota_2 = float(input("Digite la segunda nota: "))
print(f"El promedio del estudiante 1 es: {(nota_1+nota_2)/2}")

nota_1 = float(input("Digite la primera nota: "))
nota_2 = float(input("Digite la segunda nota: "))
print(f"El promedio del estudiante 2 es: {(nota_1+nota_2)/2}")

nota_1 = float(input("Digite la primera nota: "))
nota_2 = float(input("Digite la segunda nota: "))
print(f"El promedio del estudiante 3 es: {(nota_1+nota_2)/2}")

Digite la primera nota: 7
Digite la segunda nota: 6.7
El promedio del estudiante 1 es: 6.85
Digite la primera nota: 5
Digite la segunda nota: 6
El promedio del estudiante 2 es: 5.5
Digite la primera nota: 7
Digite la segunda nota: 7
El promedio del estudiante 3 es: 7.0

In [ ]:
nota_1 = float(input("Digite la primera nota: "))
nota_2 = float(input("Digite la segunda nota: "))
print(f"El promedio del estudiante es: {(nota_1+nota_2)/2}")

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  #contador = contador + 1
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input("Digite la primera nota: "))
  nota_2 = float(input("Digite la segunda nota: "))
  print(f"El promedio del estudiante {contador} es: {(nota_1+nota_2)/2}")
  contador += 1

Digite la primera nota: 7
Digite la segunda nota: 6.7
El promedio del estudiante 1 es: 6.85
Digite la primera nota: 5
Digite la segunda nota: 6
El promedio del estudiante 2 es: 5.5
Digite la primera nota: 8
Digite la segunda nota: 10
El promedio del estudiante 3 es: 9.0

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for n in range (0,3,+1):

  nota_1 = float(input("Digite la primera nota: "))
  nota_2 = float(input("Digite la segunda nota: "))
  print(f"El promedio del estudiante {n+1} es: {(nota_1+nota_2)/2}")

Digite la primera nota: 5
Digite la segunda nota: 6
El promedio del estudiante 1 es: 5.5
Digite la primera nota: 6
Digite la segunda nota: 7
El promedio del estudiante 2 es: 6.5
Digite la primera nota: 7
Digite la segunda nota: 7
El promedio del estudiante 3 es: 7.0

In [ ]:
for n in range (1,4):

  nota_1 = float(input("Digite la primera nota: "))
  nota_2 = float(input("Digite la segunda nota: "))
  print(f"El promedio del estudiante {n} es: {(nota_1+nota_2)/2}")

Digite la primera nota: 5
Digite la segunda nota: 6
El promedio del estudiante 1 es: 5.5
Digite la primera nota: 6
Digite la segunda nota: 7
El promedio del estudiante 2 es: 6.5
Digite la primera nota: 7
Digite la segunda nota: 7
El promedio del estudiante 3 es: 7.0

In [ ]:
total_propiedades = 0

for año in range(2017, 2023):
  cantidad_propiedades = float(input(f'Digite la cantidad de propiedades en el año {año}: '))
  total_propiedades += cantidad_propiedades

print(f'Total de propiedades construidas: {total_propiedades} propiedades')

Digite la cantidad de propiedades en el año 2017: 3
Digite la cantidad de propiedades en el año 2018: 4
Digite la cantidad de propiedades en el año 2019: 2
Digite la cantidad de propiedades en el año 2020: 2
Digite la cantidad de propiedades en el año 2021: 4
Digite la cantidad de propiedades en el año 2022: 5
Total de propiedades construidas: 20.0 propiedades

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

In [ ]:
inicio = int(input("Ingrese un número inicial: "))
termino = int(input("Ingrese un número de término: "))
for i in range(inicio, termino+1):
  print(i)

Ingrese un número inicial: 1
Ingrese un número de término: 4
1
2
3
4

In [ ]:
inicio = int(input("Ingrese un número inicial: ")) + 1
termino = int(input("Ingrese un número de término: "))

while inicio < termino:
    print(inicio)
    inicio += 1

Ingrese un número inicial: 1
Ingrese un número de término: 5
2
3
4

In [ ]:
# Función para pedir un número entero con validación
def pedir_entero(mensaje):
    while True:
        try:
            numero = int(input(mensaje))
            return numero
        except ValueError:
            print("Entrada inválida. Debes ingresar un número entero.")

# Pedir los valores al usuario
inicio = pedir_entero("Ingrese un número inicial: ") + 1
termino = pedir_entero("Ingrese un número de término: ")

# Imprimir los números entre ambos si hay diferencia
if inicio < termino:
    while inicio < termino:
        print(inicio)
        inicio += 1
else:
    print("El número inicial debe ser menor que el número de término.")

Ingrese un número inicial: 3.8
Entrada inválida. Debes ingresar un número entero.
Ingrese un número inicial: 3
Ingrese un número de término: 8
4
5
6
7

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

In [ ]:
colonia_a = 4
colonia_b = 10
crecimiento_colonia_a =0
crecimiento_colonia_b =0
dia = 1
print(f"Día {dia} Colonia A: {colonia_a} Colonia B: {colonia_b}")
while colonia_a <= colonia_b:
  crecimiento_colonia_a = ((colonia_a * 0.03) + colonia_a)
  crecimiento_colonia_b = ((colonia_b * 0.015) + colonia_b)
  colonia_a = crecimiento_colonia_a
  colonia_b = crecimiento_colonia_b
  dia +=1
  print(f"Día {dia} [Colonia A: {colonia_a} | Colonia B: {colonia_b}]")
print(f"La Colonia A superó a la Colonia B el día {dia}")

Día 1 Colonia A: 4 Colonia B: 10
Día 2 [Colonia A: 4.12 | Colonia B: 10.15]
Día 3 [Colonia A: 4.2436 | Colonia B: 10.30225]
Día 4 [Colonia A: 4.370908 | Colonia B: 10.456783750000001]
Día 5 [Colonia A: 4.50203524 | Colonia B: 10.61363550625]
Día 6 [Colonia A: 4.637096297199999 | Colonia B: 10.77284003884375]
Día 7 [Colonia A: 4.776209186116 | Colonia B: 10.934432639426406]
Día 8 [Colonia A: 4.91949546169948 | Colonia B: 11.098449129017803]
Día 9 [Colonia A: 5.067080325550465 | Colonia B: 11.26492586595307]
Día 10 [Colonia A: 5.219092735316979 | Colonia B: 11.433899753942367]
Día 11 [Colonia A: 5.375665517376488 | Colonia B: 11.605408250251502]
Día 12 [Colonia A: 5.536935482897783 | Colonia B: 11.779489374005275]
Día 13 [Colonia A: 5.703043547384716 | Colonia B: 11.956181714615354]
Día 14 [Colonia A: 5.874134853806257 | Colonia B: 12.135524440334585]
Día 15 [Colonia A: 6.050358899420445 | Colonia B: 12.317557306939603]
Día 16 [Colonia A: 6.231869666403059 | Colonia B: 12.502320666543698]
Día 17 [Colonia A: 6.41882575639515 | Colonia B: 12.689855476541853]
Día 18 [Colonia A: 6.6113905290870045 | Colonia B: 12.88020330868998]
Día 19 [Colonia A: 6.809732244959615 | Colonia B: 13.07340635832033]
Día 20 [Colonia A: 7.014024212308403 | Colonia B: 13.269507453695136]
Día 21 [Colonia A: 7.224444938677655 | Colonia B: 13.468550065500562]
Día 22 [Colonia A: 7.441178286837984 | Colonia B: 13.67057831648307]
Día 23 [Colonia A: 7.664413635443124 | Colonia B: 13.875636991230316]
Día 24 [Colonia A: 7.894346044506417 | Colonia B: 14.08377154609877]
Día 25 [Colonia A: 8.131176425841609 | Colonia B: 14.295028119290253]
Día 26 [Colonia A: 8.375111718616857 | Colonia B: 14.509453541079607]
Día 27 [Colonia A: 8.626365070175362 | Colonia B: 14.727095344195801]
Día 28 [Colonia A: 8.885156022280624 | Colonia B: 14.948001774358739]
Día 29 [Colonia A: 9.151710702949043 | Colonia B: 15.17222180097412]
Día 30 [Colonia A: 9.426262024037515 | Colonia B: 15.399805127988731]
Día 31 [Colonia A: 9.70904988475864 | Colonia B: 15.630802204908562]
Día 32 [Colonia A: 10.000321381301399 | Colonia B: 15.86526423798219]
Día 33 [Colonia A: 10.30033102274044 | Colonia B: 16.103243201551923]
Día 34 [Colonia A: 10.609340953422654 | Colonia B: 16.344791849575202]
Día 35 [Colonia A: 10.927621182025334 | Colonia B: 16.589963727318832]
Día 36 [Colonia A: 11.255449817486094 | Colonia B: 16.838813183228613]
Día 37 [Colonia A: 11.593113312010676 | Colonia B: 17.09139538097704]
Día 38 [Colonia A: 11.940906711370996 | Colonia B: 17.347766311691696]
Día 39 [Colonia A: 12.299133912712126 | Colonia B: 17.607982806367072]
Día 40 [Colonia A: 12.66810793009349 | Colonia B: 17.87210254846258]
Día 41 [Colonia A: 13.048151167996293 | Colonia B: 18.140184086689516]
Día 42 [Colonia A: 13.439595703036183 | Colonia B: 18.412286847989858]
Día 43 [Colonia A: 13.842783574127267 | Colonia B: 18.688471150709706]
Día 44 [Colonia A: 14.258067081351085 | Colonia B: 18.968798217970352]
Día 45 [Colonia A: 14.685809093791617 | Colonia B: 19.253330191239908]
Día 46 [Colonia A: 15.126383366605365 | Colonia B: 19.542130144108505]
Día 47 [Colonia A: 15.580174867603526 | Colonia B: 19.83526209627013]
Día 48 [Colonia A: 16.047580113631632 | Colonia B: 20.132791027714184]
Día 49 [Colonia A: 16.529007517040583 | Colonia B: 20.434782893129896]
Día 50 [Colonia A: 17.0248777425518 | Colonia B: 20.741304636526845]
Día 51 [Colonia A: 17.535624074828355 | Colonia B: 21.052424206074747]
Día 52 [Colonia A: 18.061692797073206 | Colonia B: 21.368210569165868]
Día 53 [Colonia A: 18.603543580985402 | Colonia B: 21.688733727703355]
Día 54 [Colonia A: 19.161649888414964 | Colonia B: 22.014064733618905]
Día 55 [Colonia A: 19.73649938506741 | Colonia B: 22.34427570462319]
Día 56 [Colonia A: 20.328594366619434 | Colonia B: 22.679439840192536]
Día 57 [Colonia A: 20.938452197618016 | Colonia B: 23.019631437795425]
Día 58 [Colonia A: 21.566605763546555 | Colonia B: 23.364925909362356]
Día 59 [Colonia A: 22.21360393645295 | Colonia B: 23.715399798002792]
Día 60 [Colonia A: 22.88001205454654 | Colonia B: 24.071130794972834]
Día 61 [Colonia A: 23.566412416182935 | Colonia B: 24.432197756897427]
Día 62 [Colonia A: 24.273404788668422 | Colonia B: 24.79868072325089]
Día 63 [Colonia A: 25.001606932328475 | Colonia B: 25.170660934099654]
Día 64 [Colonia A: 25.75165514029833 | Colonia B: 25.54822084811115]
La Colonia A superó a la Colonia B el día 64

3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

In [ ]:
'''
for i in range(0,5):
  evaluacion = int(input("Ingrese evalución: "))
  while evaluacion >=0 and evaluacion <=5:
      print(evaluacion)
      break
'''

Ingrese evalución: 2
2
Ingrese evalución: 9
Ingrese evalución: 2
2
Ingrese evalución: 2
2
Ingrese evalución: 2
2

In [ ]:
#mi código correcto
contador = 0

while contador < 15:
    evaluacion = int(input(f"Ingrese evaluación #{contador + 1} (entre 0 y 5): "))

    if 0 <= evaluacion <= 5:
        print("Evaluación válida registrada.")
        contador += 1
    else:
        print("Evaluación inválida. Debe ser un número entre 0 y 5. Intente nuevamente.")

Ingrese evaluación #1 (entre 0 y 5): 1
Evaluación válida registrada.
Ingrese evaluación #2 (entre 0 y 5): 2
Evaluación válida registrada.
Ingrese evaluación #3 (entre 0 y 5): 3
Evaluación válida registrada.
Ingrese evaluación #4 (entre 0 y 5): 4
Evaluación válida registrada.
Ingrese evaluación #5 (entre 0 y 5): 5
Evaluación válida registrada.
Ingrese evaluación #6 (entre 0 y 5): 0
Evaluación válida registrada.
Ingrese evaluación #7 (entre 0 y 5): 6
Evaluación inválida. Debe ser un número entre 0 y 5. Intente nuevamente.
Ingrese evaluación #7 (entre 0 y 5): 2
Evaluación válida registrada.
Ingrese evaluación #8 (entre 0 y 5): 3
Evaluación válida registrada.
Ingrese evaluación #9 (entre 0 y 5): 2
Evaluación válida registrada.
Ingrese evaluación #10 (entre 0 y 5): 1
Evaluación válida registrada.
Ingrese evaluación #11 (entre 0 y 5): 2
Evaluación válida registrada.
Ingrese evaluación #12 (entre 0 y 5): 3
Evaluación válida registrada.
Ingrese evaluación #13 (entre 0 y 5): 3
Evaluación válida registrada.
Ingrese evaluación #14 (entre 0 y 5): 3
Evaluación válida registrada.
Ingrese evaluación #15 (entre 0 y 5): 3
Evaluación válida registrada.

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

In [ ]:
'''
suma_temp = 0
contador = 0
temperatura = 0
while temperatura != -273:
  temperatura = int(input("Ingrese temperatura: "))
  suma_temp = suma_temp + temperatura
  contador +=1
promedio_temp = suma_temp/contador
#print(suma_temp, promedio_temp, contador)
print("El promedio de las temperaturas ingresadas es: %.2f"%(promedio_temp))
'''

Ingrese temperatura: 40
Ingrese temperatura: 50
Ingrese temperatura: 100
Ingrese temperatura: -273
El promedio de las temperaturas ingresadas es: -20.75

In [ ]:
suma_temp = 0
contador = 0
temperatura = int(input("Ingrese temperatura: "))

while temperatura != -273:
    suma_temp += temperatura
    contador += 1
    temperatura = int(input("Ingrese temperatura: "))

if contador > 0:
    promedio_temp = suma_temp / contador
    print("El promedio de las temperaturas ingresadas es: %.2f°C" % promedio_temp)
else:
    print("No se ingresaron temperaturas válidas.")

Ingrese temperatura: 10
Ingrese temperatura: 0
Ingrese temperatura: 20
Ingrese temperatura: -40
Ingrese temperatura: -273
El promedio de las temperaturas ingresadas es: -2.50°C

In [ ]:
#mi código correcto
suma_temp = 0
contador = 0
temperatura = int(input("Ingrese temperatura: "))

while temperatura != -273:
  if temperatura >=0:
    suma_temp += temperatura
    contador += 1
  else:
    print("Error: Ingrese una temperatura válida.")
  temperatura = int(input("Ingrese temperatura: "))
promedio_temp = suma_temp / contador
print("El promedio de las temperaturas ingresadas es: %.2f°C" % (promedio_temp))

Ingrese temperatura: 20
Ingrese temperatura: 10
Ingrese temperatura: 0
Ingrese temperatura: -40
Error: Ingrese una temperatura válida.
Ingrese temperatura: -273
El promedio de las temperaturas ingresadas es: 10.00°C

In [ ]:
suma_temp = 0
contador = 0

while True:
    temperatura = int(input("Ingrese temperatura (o -273 para salir): "))

    if temperatura == -273:
        break

    suma_temp += temperatura
    contador += 1

if contador > 0:
    promedio_temp = suma_temp / contador
    print("El promedio de las temperaturas ingresadas es: %.2f°C" % promedio_temp)
else:
    print("No se ingresaron temperaturas válidas.")

Ingrese temperatura (o -273 para salir): 50
Ingrese temperatura (o -273 para salir): 0
Ingrese temperatura (o -273 para salir): 25
Ingrese temperatura (o -273 para salir): -273
El promedio de las temperaturas ingresadas es: 25.00°C

5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
factorial = int(input("Ingrese el número del cual quiere obtener el factorial: "))
resultado = factorial
antecesor = factorial-1

for i in range(factorial,1,-1):
  resultado *= antecesor
  antecesor -=1
  #print(i,resultado,antecesor)
print(f"El resultado del factorial de {factorial} es {resultado}")

Ingrese el número del cual quiere obtener el factorial: 5
El resultado del factorial de 5 es 120

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20

In [ ]:
contador = 1
numero = int(input("Ingrese el número para obtener su tabla del 1 al 10: "))
for i in range(0,10):
  resultado = numero * contador
  print(f"{numero} x {contador} = {resultado}")
  contador+=1

Ingrese el número para obtener su tabla del 1 al 10: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

In [ ]:
numero = int(input("Ingresa un número entero: "))

if numero < 2:
    print(f"El número {numero} no es primo.")
else:
    divisible = 0
    for i in range(1, numero + 1):
        if numero % i == 0: #solo si el resto es 0, realiza lo siguiente
            divisible += 1 #aumenta en 1 si es que el resto de los valores son 0

    if divisible == 2: #el numero primo solo es divisible por 1 y por si mismo == 2
        print(f"El número {numero} es primo.")
    else:
        print(f"El número {numero} no es primo.")

Ingresa un número entero: 3
El número 3 es primo.

8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100]. La entrada de datos se detendrá al ingresar un número negativo.

In [ ]:
#mi código correcto
intervalo_1 = int(0)
intervalo_2 = int(0)
intervalo_3 = int(0)
intervalo_4 = int(0)
edad = int(input("Ingresa edad (de 1 -100 años): "))
while edad >=0:
  if edad >=0 and edad <= 25:
    intervalo_1 += 1
  elif edad >=26 and edad <= 50:
    intervalo_2 += 1
  elif edad >=51 and edad <= 75:
    intervalo_3 += 1
  elif edad >= 76 and edad <= 100:
    intervalo_4 += 1
  else:
    print("Edad no coincide con los intervalos")

  edad = int(input("Ingresa edad (de 1 -100 años): "))
print("La cantidad de personas ingresadas según intervalo, son las siguientes:\nEntre [0 - 25]: {} personas.\nEntre [26 - 50]: {} personas.\nEntre [51 - 75]: {} personas.\nEntre [76 - 100]: {} personas.\n".format(intervalo_1, intervalo_2,intervalo_3,intervalo_4))

Ingresa edad (de 1 -100 años): 4
Ingresa edad (de 1 -100 años): 14
Ingresa edad (de 1 -100 años): 50
Ingresa edad (de 1 -100 años): 50
Ingresa edad (de 1 -100 años): 75
Ingresa edad (de 1 -100 años): 75
Ingresa edad (de 1 -100 años): 75
Ingresa edad (de 1 -100 años): 75
Ingresa edad (de 1 -100 años): 100
Ingresa edad (de 1 -100 años): -1
La cantidad de personas ingresadas según intervalo, son las siguientes:
Entre [0 - 25]: 2 personas.
Entre [26 - 50]: 2 personas.
Entre [51 - 75]: 4 personas.
Entre [76 - 100]: 1 personas.

In [ ]:
# Inicializamos contadores
intervalo_1 = 0
intervalo_2 = 0
intervalo_3 = 0
intervalo_4 = 0

# Primer ingreso de edad
edad = int(input("Ingresa edad (de 1 a 100 años, número negativo para salir): "))

# Bucle mientras la edad sea válida
while edad >= 0:
    if edad <= 25:
        intervalo_1 += 1
    elif edad <= 50:
        intervalo_2 += 1
    elif edad <= 75:
        intervalo_3 += 1
    elif edad <= 100:
        intervalo_4 += 1
    else:
        print("⚠️ Edad fuera de los intervalos válidos. Intenta nuevamente.")

    # Este input SIEMPRE se ejecuta al final del ciclo
    edad = int(input("Ingresa edad (de 1 a 100 años, número negativo para salir): "))

# Mostrar los resultados al finalizar
print("\n📊 Distribución de edades ingresadas:")
print(f"Entre [0 - 25]: {intervalo_1} personas.")
print(f"Entre [26 - 50]: {intervalo_2} personas.")
print(f"Entre [51 - 75]: {intervalo_3} personas.")
print(f"Entre [76 - 100]: {intervalo_4} personas.")

Ingresa edad (de 1 a 100 años, número negativo para salir): 4
Ingresa edad (de 1 a 100 años, número negativo para salir): 2
Ingresa edad (de 1 a 100 años, número negativo para salir): 100
Ingresa edad (de 1 a 100 años, número negativo para salir): 100
Ingresa edad (de 1 a 100 años, número negativo para salir): -2

📊 Distribución de edades ingresadas:
Entre [0 - 25]: 2 personas.
Entre [26 - 50]: 0 personas.
Entre [51 - 75]: 0 personas.
Entre [76 - 100]: 2 personas.

9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [ ]:
candidato_1 = int(0)
candidato_2 = int(0)
candidato_3 = int(0)
candidato_4 = int(0)
nulo = int(0)
blanco = int(0)
contador = int(1)
cantidad_total = 20

while contador <= cantidad_total:
    voto = int(input("Ingrese su voto del [1 - 6]: "))
    if voto >= 1 and voto <= 6: #valida que sea un número entre el 1 al 6

      if voto == 1:
        candidato_1 +=1
      elif voto == 2:
        candidato_2 +=1
      elif voto == 3:
        candidato_3 += 1
      elif voto == 4:
        candidato_4 += 1
      elif voto == 5:
        nulo += 1
      elif voto == 6:
        blanco += 1
      else:
        print("No corresponde a un número válido")
      contador +=1
    else:
      print("No corresponde a un número válido, vuelva a intentarlo")

porc_candidato_1 = (100*candidato_1)/cantidad_total
porc_candidato_2 = (100*candidato_2)/cantidad_total
porc_candidato_3 = (100*candidato_3)/cantidad_total
porc_candidato_4 = (100*candidato_4)/cantidad_total
porc_nulo = (100*nulo)/cantidad_total
porc_blanco = (100*blanco)/cantidad_total


print(f"Candidato 1: {candidato_1} votos, equivalente al {porc_candidato_1}% de los votos emitidos.")
print(f"Candidato 2: {candidato_2} votos, equivalente al {porc_candidato_2}% de los votos emitidos.")
print(f"Candidato 3: {candidato_3} votos, equivalente al {porc_candidato_3}% de los votos emitidos.")
print(f"Candidato 4: {candidato_4} votos, equivalente al {porc_candidato_4}% de los votos emitidos.")
print(f"Votos nulos: {nulo} votos, equivalente al {porc_nulo}% de los votos emitidos.")
print(f"Votos blancos: {blanco} votos, equivalente al {porc_blanco}% de los votos emitidos.")

Ingrese su voto del [1 - 6]: 2
Ingrese su voto del [1 - 6]: 4
Ingrese su voto del [1 - 6]: 1
Ingrese su voto del [1 - 6]: 5
Ingrese su voto del [1 - 6]: 6
Ingrese su voto del [1 - 6]: 7
No corresponde a un número válido, vuelva a intentarlo
Ingrese su voto del [1 - 6]: 5
Ingrese su voto del [1 - 6]: 6
Ingrese su voto del [1 - 6]: 3
Ingrese su voto del [1 - 6]: 1
Ingrese su voto del [1 - 6]: 10
No corresponde a un número válido, vuelva a intentarlo
Ingrese su voto del [1 - 6]: 1
Ingrese su voto del [1 - 6]: 3
Ingrese su voto del [1 - 6]: 4
Ingrese su voto del [1 - 6]: 1
Ingrese su voto del [1 - 6]: 3
Ingrese su voto del [1 - 6]: 2
Ingrese su voto del [1 - 6]: 5
Ingrese su voto del [1 - 6]: 1
Ingrese su voto del [1 - 6]: 3
Ingrese su voto del [1 - 6]: 4
Ingrese su voto del [1 - 6]: 5
Candidato 1: 5 votos, equivalente al 25.0% de los votos emitidos
Candidato 2: 2 votos, equivalente al 10.0% de los votos emitidos
Candidato 3: 4 votos, equivalente al 20.0% de los votos emitidos
Candidato 4: 3 votos, equivalente al 15.0% de los votos emitidos
Votos nulos: 4 votos, equivalente al 20.0% de los votos emitidos
Votos blancos: 2 votos, equivalente al 10.0% de los votos emitidos

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
type(lista[0])

str

In [ ]:
type(lista[1])

float

In [ ]:
type(lista[-1])

bool

In [ ]:
contador = 0
while contador < len(lista):
  print(lista[contador])
  print(type(lista[contador]))
  contador +=1

Penélope Camacho
<class 'str'>
9.5
<class 'float'>
9.0
<class 'float'>
9.7
<class 'float'>
True
<class 'bool'>

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0

In [ ]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 10.0, 8.0, 9.0]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio = (lista[1] + lista[2] + lista[3])/3
print("Promedio: %.2f"%(promedio))

Promedio: 9.73

In [ ]:
lenguaje = "Phyton"

In [ ]:
print(lenguaje[0], lenguaje[1], lenguaje[2], lenguaje[3], lenguaje[4], lenguaje[5])

P h y t o n

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
print(lista)
len(lista)

['Penélope Camacho', 9.5, 9.0, 9.7, True]

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[0:2]

['Penélope Camacho', 9.5]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 9.0]

In [ ]:
lista[3:]

[9.7, True]

In [ ]:
lista[:]

['Penélope Camacho', 9.5, 9.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
#lista.append(promedio)
lista.append(round(promedio, 2))

In [ ]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.73]

In [ ]:
#lista.remove(promedio)
lista.remove(lista[5])

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.73, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.73, 10.0, 8.0, 9.0]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.73, 10.0, 8.0, 9.0]

In [ ]:
lista.remove(lista[9])

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

In [ ]:
razas_de_perros

['Labrador Retriever', 'Bulldog Francés', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros.insert(1, 'Golden Retriever')

In [ ]:
razas_de_perros

['Labrador Retriever', 'Bulldog Francés', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros.pop(1)

'Golden Retriever'

In [ ]:
razas_de_perros.index('Pastor Alemán')

2

In [ ]:
razas_de_perros.sort()

In [ ]:
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros.sort(reverse=True)

In [ ]:
razas_de_perros

['Poodle', 'Pastor Alemán', 'Labrador Retriever', 'Bulldog Francés']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionario = {'llave_1': 1, 'llave_2': 2}

diccionario

{'llave_1': 1, 'llave_2': 2}

In [ ]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {'matricula': 2000168933,
              'dia_registro': 25,
              'mes_registro': 10,
              'grupo': '2E'
              }

estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [ ]:
estudiante['matricula']

2000168933

In [ ]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo'] = '2G'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante['modalidad'] = 'EAD'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [ ]:
for llave,valor in estudiante.items():
  print(llave,' ---> ',valor)

matricula  --->  2000168933
dia_registro  --->  25
mes_registro  --->  10
modalidad  --->  EAD

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'refrigerador', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(f"${dato}")

Clave: nombres
Elementos:
$televisión
$celular
$notebook
$refrigerador
$estufa
Clave: precios
Elementos:
$2000
$1500
$3500
$4000
$1500

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [ ]:
gastos_empresa = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
promedio_gastos = sum(gastos_empresa) / len(gastos_empresa)
print(f"El promedio de gastos de la empresa es: {promedio_gastos}")

El promedio de gastos de la empresa es: 3144.222

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [ ]:
#gastos_empresa = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

compras_sobre_3000 = 0
for gasto in gastos_empresa:
    if gasto > 3000:
        compras_sobre_3000 += 1

porcentaje = (compras_sobre_3000 / len(gastos_empresa)) * 100

print(f"Se realizaron {compras_sobre_3000} compras por encima de 3000 reales.")
print(f"Esto representa el {porcentaje:.1f}% del total de compras.")

Se realizaron 7 compras por encima de 3000 reales.
Esto representa el 70.0% del total de compras.

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
#Resultado
print(f'Lista de números ingresados: {lista_numeros}')

Ingresa un número entero: 1
Ingresa un número entero: 3
Ingresa un número entero: 2
Ingresa un número entero: 4
Ingresa un número entero: 5
Lista de números ingresados: [1, 3, 2, 4, 5]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [ ]:
lista_numeros = []
for i in range(0, 5):
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
lista_numeros.sort(reverse=True)
print(f'Lista de números ingresados: {lista_numeros}')

Ingresa un número entero: 1
Ingresa un número entero: 2
Ingresa un número entero: 3
Ingresa un número entero: 4
Ingresa un número entero: 5
Lista de números ingresados: [5, 4, 3, 2, 1]

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
n = int(input("Ingresa un número entero mayor que 1: "))
primos = []

for numero in range(2, n + 1):
    divisores = 0
    for i in range(1, numero + 1):
        if numero % i == 0:
            divisores += 1
    if divisores == 2:
        primos.append(numero)

print(f"Números primos entre 1 y {n}: {primos}")

Ingresa un número entero mayor que 1: 7
Números primos entre 1 y 7: [2, 3, 5, 7]

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [123]:
# Ingreso de datos
dia = int(input("Ingresa el día: "))
mes = int(input("Ingresa el mes (1 a 12): "))
anio = int(input("Ingresa el año: "))

# Lista con los nombres de los meses
meses = ["enero", "febrero", "marzo", "abril", "mayo", "junio",
         "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"]

# Validación básica de rangos
if anio < 1900 or anio > 2025:
    print("El año ingresado no es válido.")
elif mes < 1 or mes > 12:
    print("El mes ingresado no es válido.")
elif dia < 1 or dia > 31:
    print("El día ingresado no es válido.")
else:
    # Días máximos por mes (sin considerar bisiestos)
    dias_por_mes = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    if dia > dias_por_mes[mes - 1]:
        print("La fecha es inválida.")
    else:
        # Crear la lista 'fecha'
        fecha = [dia, meses[mes - 1], anio]
        print("La fecha es válida.")
        print("Fecha:", fecha)

Ingresa el día: 2
Ingresa el mes (1 a 12): 2
Ingresa el año: 1990
La fecha es válida.
Fecha: [2, 'febrero', 1990]

In [ ]:
fecha

[13, 'diciembre', 2010]

7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [ ]:
bacterias =  [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
porcentaje_crecimiento = []
for i in range(1, len(bacterias)):
  porcentaje = 100 * (bacterias[i] - bacterias[i-1]) / bacterias[i-1]
  porcentaje_crecimiento.append(porcentaje)
  print(f"Día {i+1}: {porcentaje_crecimiento[i-1]:.2f}%")

Día 2: 75.00%
Día 3: 57.14%
Día 4: 51.52%
Día 5: 56.00%
Día 6: 44.87%
Día 7: 46.90%
Día 8: 51.20%
Día 9: 50.60%
Día 10: 50.53%

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [ ]:
lista_dulces = []
lista_amargos = []
cant_dulces = 0
cant_amargos = 0
for i in range(0, 10):
  id = int(input('Ingresa un ID: '))
  if id % 2 == 0:
    lista_dulces.append(id)
    cant_dulces += 1
  else:
    lista_amargos.append(id)
    cant_amargos += 1
print(f"Lista de dulces: {lista_dulces}")
print(f"Lista de amargos: {lista_amargos}")
print(f"Cantidad de dulces: {cant_dulces}")
print(f"Cantidad de amargos: {cant_amargos}")

Ingresa un ID: 1
Ingresa un ID: 2
Ingresa un ID: 3
Ingresa un ID: 4
Ingresa un ID: 5
Ingresa un ID: 6
Ingresa un ID: 7
Ingresa un ID: 8
Ingresa un ID: 9
Ingresa un ID: 0
Lista de dulces: [2, 4, 6, 8, 0]
Lista de amargos: [1, 3, 5, 7, 9]
Cantidad de dulces: 5
Cantidad de amargos: 5

9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.

Resultado del examen:
```
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B
```

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [ ]:
numero_pregunta = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']
respuestas_estudiante = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
respuestas_validas = ['A', 'B', 'C', 'D']
cant_correctas = 0
cant_incorrectas = 0
for i in range(0, len(numero_pregunta)):
  while True:
      respuesta = input(f"Ingresa la respuesta de la pregunta {numero_pregunta[i]}: ").upper()
      if respuesta in respuestas_validas: #esta seria la condición principal para empezar a recorrer los demás if
        if respuesta == respuestas_estudiante[i]:
          cant_correctas +=1
          print(f"Pregunta {numero_pregunta[i]}: Correcto")
        else:
          cant_incorrectas +=1
          print(f"Pregunta {numero_pregunta[i]}: Incorrecto")
        break #sirve para parar el ciclo while cuando se cumple la condicion
      else:
        print("Debe ingresar una respuesta válida [A, B, C o D]")
print("----------------------------------")
porc_correctas = (cant_correctas * 100)/len(numero_pregunta)
porc_incorrectas = (cant_incorrectas * 100)/len(numero_pregunta)
print(f"Respuestas Correctas: {cant_correctas}\nRespuestas Incorrectas: {cant_incorrectas}")
print("Correctas: %.1f%%\nIncorrectas: %.1f%%"%(porc_correctas, porc_incorrectas))

Ingresa la respuesta de la pregunta 01: a
Pregunta 01: Incorrecto
Ingresa la respuesta de la pregunta 02: a
Pregunta 02: Correcto
Ingresa la respuesta de la pregunta 03: a
Pregunta 03: Incorrecto
Ingresa la respuesta de la pregunta 04: a
Pregunta 04: Incorrecto
Ingresa la respuesta de la pregunta 05: a
Pregunta 05: Correcto
Ingresa la respuesta de la pregunta 06: a
Pregunta 06: Incorrecto
Ingresa la respuesta de la pregunta 07: a
Pregunta 07: Incorrecto
Ingresa la respuesta de la pregunta 08: a
Pregunta 08: Incorrecto
Ingresa la respuesta de la pregunta 09: a
Pregunta 09: Correcto
Ingresa la respuesta de la pregunta 10: a
Pregunta 10: Incorrecto
----------------------------------
Respuestas Correctas: 3
Respuestas Incorrectas: 7
Correctas: 30.0%
Incorrectas: 70.0%

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

In [ ]:
temp_por_mes

[2.0, 10.0, 9.0, 8.0, 3.0, 4.0, 1.0, 8.0, 7.0, 10.0, 8.0, 9.0]

In [ ]:
meses_anio = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
temp_por_mes = []
temp_sobre_promedio = []
mes_sobre_promedio = []
for i in range (0,12):
  temperatura = float(input(f"Ingrese temperatura de {meses_anio[i]}: "))
  temp_por_mes.append(temperatura)
  print(f"Mes de {meses_anio[i]}, temperatura de {temperatura}°C")
promedio = sum(temp_por_mes)/len(temp_por_mes)
print("----------------------------------")
print("El promedio anual es de: [%.1f°C]"%(promedio))
print("----------------------------------\nMeses que superaron el promedio anual\n----------------------------------")

for i in range (0,12):
  if temp_por_mes[i] > promedio:
    temp_sobre_promedio.append(temp_por_mes[i])
    mes_sobre_promedio.append(meses_anio[i])
    print(f"En el mes de %s hubieron %.1f°C"%(meses_anio[i],temp_por_mes[i]))
  else:
    continue

if len(temp_sobre_promedio) == 0:
  print("Todos los meses registraron la misma temperatura")
else:
  print(temp_sobre_promedio) #temperaturas sobre el promedio
  print(mes_sobre_promedio) # meses con temperatura sobre el promedio

print(temp_por_mes) #listado de todas las temperaturas del año

Ingrese temperatura de Enero: 2
Mes de Enero, temperatura de 2.0°C
Ingrese temperatura de Febrero: 9
Mes de Febrero, temperatura de 9.0°C
Ingrese temperatura de Marzo: 10
Mes de Marzo, temperatura de 10.0°C
Ingrese temperatura de Abril: 2
Mes de Abril, temperatura de 2.0°C
Ingrese temperatura de Mayo: 1
Mes de Mayo, temperatura de 1.0°C
Ingrese temperatura de Junio: 8
Mes de Junio, temperatura de 8.0°C
Ingrese temperatura de Julio: 7
Mes de Julio, temperatura de 7.0°C
Ingrese temperatura de Agosto: 5
Mes de Agosto, temperatura de 5.0°C
Ingrese temperatura de Septiembre: 4
Mes de Septiembre, temperatura de 4.0°C
Ingrese temperatura de Octubre: 2
Mes de Octubre, temperatura de 2.0°C
Ingrese temperatura de Noviembre: 3
Mes de Noviembre, temperatura de 3.0°C
Ingrese temperatura de Diciembre: 10
Mes de Diciembre, temperatura de 10.0°C
----------------------------------
El promedio anual es de: [5.2°C]
----------------------------------
Meses que superaron el promedio anual
----------------------------------
En el mes de Febrero hubieron 9.0°C
En el mes de Marzo hubieron 10.0°C
En el mes de Junio hubieron 8.0°C
En el mes de Julio hubieron 7.0°C
En el mes de Diciembre hubieron 10.0°C
[9.0, 10.0, 8.0, 7.0, 10.0]
['Febrero', 'Marzo', 'Junio', 'Julio', 'Diciembre']
[2.0, 9.0, 10.0, 2.0, 1.0, 8.0, 7.0, 5.0, 4.0, 2.0, 3.0, 10.0]

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

`{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}`

Escribe un código que calcule el total de ventas y el producto más vendido.

In [ ]:
tienda = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

productos = tienda.keys()
valores = tienda.values()

productos_lista = list(productos)
ventas_lista = list(valores)

for i in range(len(productos_lista)):
  if ventas_lista[i] == max(ventas_lista):
    mas_vendido = productos_lista[i]

  else:
    continue

total_ventas = sum(ventas_lista)
print(f"El producto más vendido es: {mas_vendido}")
print(f"El total de ventas es: {total_ventas} artículos")



#for i in range(len(productos)):
 # print(productos[i])

El producto más vendido es: Producto A
El total de ventas es: 920 artículos

12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:
```
Tabla de votos de la marca
Diseño 1 - 1334 votos
Diseño 2 - 982 votos
Diseño 3 - 1751 votos
Diseño 4 - 210 votos
Diseño 5 - 1811 votos
```

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [ ]:
encuesta = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}
diseno = encuesta.keys()
votos = encuesta.values()

lista_diseno = list(diseno) #lista para el nombre del diseño
lista_votos =  list(votos) #lista para la cantidad de votos
total_votos = sum(lista_votos) #total de votos
mas_votos = max(lista_votos) #diseño con mas votos (cantidad)

for i in range(len(lista_diseno)):
  porcentaje = (lista_votos[i]*100)/total_votos
  print("%s --> %d votos [%.2f%%]"%(lista_diseno[i],lista_votos[i], porcentaje))
  if lista_votos[i] == mas_votos:
    lista_ganador = {lista_diseno[i]: [lista_votos[i], porcentaje]}
    print("El diseño ganador es: %s, con %d votos y un %.2f%%"%(lista_diseno[i],lista_votos[i],porcentaje))
  else:
    continue

print(lista_ganador)

Diseño 1 --> 1334 votos [21.91%]
Diseño 2 --> 982 votos [16.13%]
Diseño 3 --> 1751 votos [28.76%]
Diseño 4 --> 210 votos [3.45%]
Diseño 5 --> 1811 votos [29.75%]
El diseño ganador es: Diseño 5, con 1811 votos y un 29.75%
{'Diseño 5': [1811, 29.747043363994745]}

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [ ]:
salario = {1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903}

# Crear el diccionario de bonificaciones
bonificaciones = {sueldo: (round(sueldo * 0.10, 2) if sueldo * 0.10 >= 200 else 200) for sueldo in salario}

# Mostrar bonificaciones ordenadas
for sueldo in sorted(bonificaciones.keys()):
    print(f"Sueldo: {sueldo} ➔ Bonificación: ${bonificaciones[sueldo]}")

# Calcular gasto total en bonificaciones
gasto_total = sum(bonificaciones.values())

# Contar empleados que recibieron la bonificación mínima ($200)
empleados_minima = sum(1 for bono in bonificaciones.values() if bono == 200)

# Encontrar la bonificación más alta
bono_mas_alto = max(bonificaciones.values())

# Mostrar resultados
print("\n--- Resumen ---")
print(f"Gasto total en bonificaciones: ${gasto_total}")
print(f"Cantidad de empleados con bonificación mínima ($200): {empleados_minima}")
print(f"Valor más alto de bonificación entregada: ${bono_mas_alto}")

Sueldo: 1172 ➔ Bonificación: $200
Sueldo: 1644 ➔ Bonificación: $200
Sueldo: 2617 ➔ Bonificación: $261.7
Sueldo: 5130 ➔ Bonificación: $513.0
Sueldo: 5532 ➔ Bonificación: $553.2
Sueldo: 6341 ➔ Bonificación: $634.1
Sueldo: 6650 ➔ Bonificación: $665.0
Sueldo: 7238 ➔ Bonificación: $723.8
Sueldo: 7685 ➔ Bonificación: $768.5
Sueldo: 7782 ➔ Bonificación: $778.2
Sueldo: 7903 ➔ Bonificación: $790.3

--- Resumen ---
Gasto total en bonificaciones: $6087.8
Cantidad de empleados con bonificación mínima ($200): 2
Valor más alto de bonificación entregada: $790.3

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

`{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}`

Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [88]:
bosque = {'Área Norte': [2819, 7236], 'Área Este': [1440, 9492], 'Área Sur': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}
for area, especies in bosque.items(): #la clave es area, y los valores son las especies de plantas y animales
    promedio = sum(especies)/len(especies)
    bosque[area] = especies + [promedio] #agrego promedio a la lista del diccionario bosque
    print("Promedio para el %s es de %.0f especies."%(area, promedio))

area_mayor = None
promedio_mayor = 0

for area, especies in bosque.items():
    if especies[2] > promedio_mayor:
        promedio_mayor = especies[2]
        area_mayor = area

print("El %s corresponde al área con la mayor diversidad biológica, con un promedio de %.0f especies."%(area_mayor,promedio_mayor))

Promedio para el Área Norte es de 5028 especies.
Promedio para el Área Este es de 5466 especies.
Promedio para el Área Sur es de 6732 especies.
Promedio para el Área Oeste es de 32067 especies.
Promedio para el Área Centro es de 33853 especies.
El Área Centro corresponde al área con la mayor diversidad biológica, con un promedio de 33853 especies.

In [64]:
print(bosque)

{'Área Norte': [2819, 7236, 5027.5], 'Área Este': [1440, 9492, 5466.0], 'Área Sur': [5969, 7496, 6732.5], 'Área Oeste': [14446, 49688, 32067.0], 'Área Centro': [22558, 45148, 33853.0]}

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:
```
{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
```

Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [111]:
colaboradores =   {'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
                   'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
                   'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
                   'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

promedio = {} #creo un nuevo diccionario llamado promedio
suma_promedios =0

for sectores, edades in colaboradores.items():
  promedio[sectores] = sum(edades)/len(edades)
  suma_promedios += promedio[sectores]

promedio_general = suma_promedios/len(promedio) #o len(colaboradores)


print("La edad promedio de cada sector es:")
for sectores, edades in colaboradores.items():
  print("%s: %.1f años."%(sectores,promedio[sectores]))

print("La edad media general entre todos los sectores es de %.1f años."%(promedio_general))

contador_edad = 0

for sectores, edades in colaboradores.items():
  for edad in edades:
    if edad > promedio_general:
      contador_edad += 1

print("La cantidad total de personas que tienen una edad por encima de la media es de %d personas."%(contador_edad))

La edad promedio de cada sector es:
Sector A: 39.9 años.
Sector B: 42.3 años.
Sector C: 35.8 años.
Sector D: 36.5 años.
La edad media general entre todos los sectores es de 38.6 años.
La cantidad total de personas que tienen una edad por encima de la media es de 18 personas.